.nav-bar {
  background-color: rgb(29, 62, 90);
  height: 100px;
  justify-content: right;
}

.nav-bar button {
  border: none;
  margin: 30px 10px;
  background-color: rgb(20, 22, 21);
  cursor: pointer;
  color: white;
  font-size: medium;
  border-radius: 5px;
}
